@import "slimbox2.css";
/*
@import "weatherForecast.css";
@import "slimbox2.css";
@import "amazingvn2.css";
@import "destination.css";
@import "dialog.css";
@import "themes/default/ui.all.css";
*/

/* JQUERY UI */
@import "themes/vnwk/jquery-ui-1.8.4.vnwk.css";
/* MAIN SITE */
body{
	color: black;
	background: #E9E9E9;/*#CCCCCC url(images/bg/bg4.gif) repeat-y scroll center center;*/
	font-family: Arial,Helvetica,serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#grandWrapper {
	position: absolute;
	height: auto !important;
	min-height: 100%;
	margin: 0;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;	
	}
	
#header {
	width: 100%;
	background:#db1c00;
/*
	background-color: #600003;

	padding-left: 10px;	
	padding-right: 2px;
	margin-top: -3px;
	margin-left: -10px;
	border-bottom: 2px solid white;

	background: url(/css/images/topBar.gif) repeat-x scroll;
	height: 35px;
*/
	text-align: center;
	height: 80px;
	margin-bottom:1px;
}
#header .logo {
	font-size: 2.5em; 
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial;
}
	#header #left {
		/*margin-top:10px;*/
		text-align:center;
	}
	
	#header #left #button{
		background:#FFFFFF;
		color:#C00000;
		border:none;
		cursor:pointer;
		}
	#header #left #search_text{
		border:#999999 solid 1px;
		width:400px;
	}

#toolbar{
	padding-right: 5px;
}


#menuWrapper {
/*	background: #EDEFF4;*/
	background:#DB1C00;
	height: 28px;
	width: 100%;
	float: left;
}

#mainMenu {
	margin-top: 4px;

}
	#mainMenu ul {
		list-style-type : none;
		margin:0;
		padding-left:20px;
	}
		#mainMenu ul li.selected {
			-moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			background:#FFFFFF none repeat scroll 0 0;

		}
		
			#mainMenu ul li.selected a {			
				color:#C00000;
				font-size:13px;
				padding:5px 10px 6px;
			}
			
			#mainMenu ul li.selected a:hover {			
				background-color:#FFFFFF;
				border-color:#D8DFEA;
				color:#333333;
				text-decoration:none;
			}
	
		#mainMenu ul li {
		/*	background-color : #D8DFEA;*/
			background:#ACA741;
			float : left;
			margin : 0px 2px 0 0px;
			overflow : hidden;
			position : relative;
		}
		
			#mainMenu ul li a {
				border-color : #ACA741;
				border-style : solid solid none;
				border-width : 1px 1px 0;
				display : block;
				font-size : 13px;
				font-weight : bold;
				/*padding : 3px 11px;*/
				padding:5px 10px 6px;
				margin-bottom:-2px;
				margin-top:-2px;
				white-space : nowrap;
				/*color:#3B5998;*/
				color:#FFFFFF;
				cursor:pointer;
				outline-style:none;
				text-decoration:none;
			}
			
			#mainMenu ul li a:hover {
				color:#FFFFFF;
				text-decoration:none;
				/*background-color:#627AAD;*/
				background-color:#996600;
				/*border-color:#627AAD;*/
			}
			
#contentTable{
	background-color: white;
	clear:both;
	overflow-x: hidden;
}
.clear{
    clear:both;
}
#contentTable .seach_body{
	padding: 5px 5px 5px 5px;
}
	#contentTable #postContent {
		margin-top: 0px;
		padding: 10px;
		overflow-x: hidden;
	}
	#contentTable #postContent #postContent_relative{
		position:relative;
	}	
	#contentTable a{
			color:#CC0000;
	}
	
	#footer_link a{
			color:#CC0000;
	}
#reviewList {
	margin: 100px 5px 10px 5px;
}
	
	#reviewList div.reviewElement {
	}
	
		#reviewList div.reviewElement div.reviewHead {
			color : #333333;
			padding-left: 2px;
			padding-top: 2px;
			padding-bottom: 2px;
			border-top: 1px solid #94A3C4;
			font-size : 12px;
			font-weight: bold;
			font-family : Arial, Helvetica, serif;
			background: #F3F3F3 none repeat scroll 0 0;		
		}
		
		#reviewList div.reviewElement div.reviewHead .avatar {
			float: left;
			display: block;
			clear: left;
			padding: 5px;
		}
		
 		#reviewList div.reviewElement div.reviewHead div.reviewRate {
            width: 83px;
            height: 17px;
            float: left;
        }
        
		#reviewList div.reviewElement div.reviewBody {
			margin-bottom: 20px;
			font-size: 14px;
			padding: 5px 5px 5px 10px;
		}
		
.clear {
	clear: both;
}

	div.button {
	float: left;
	position: relative;
	background-color : #cdcd9b;
}
	div.button a {
		border-color : #cdcd9b;
		border-style : solid solid none;
		border-width : 1px 1px 0;
		display : block;
		font-size : 13px;
		font-weight : bold;
		padding : 3px 11px;
		white-space : nowrap;
		color:#FFFFFF;
		cursor:pointer;
		outline-style:none;
		text-decoration:none;	
	}
	
	div.button a:hover {
		color:#FFFFFF;
		text-decoration:none;
		background-color:#aca741;
		border-color:#aca741;	
	}
.button ul{
	list-style-type:none;
	margin:0;
	padding:0;	
}

.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}	

td {
	vertical-align: top;
}	

div.subBanner  {
	color : #333333;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid #94A3C4;
	font-size : 13px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
	background: #ECEFF5 none repeat scroll 0 0;
	margin-bottom: 10px;
}

	
td.subBanner  {
	color : #333333;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid #94A3C4;
	font-size : 13px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
	background: #ECEFF5 none repeat scroll 0 0;
}
	

img.postSmallImg {
	width: 150px;
	height: 100px;
}
	
.bookmarks {
	text-align: right;
}
.bookmarks ul{
	margin:0;
	padding:0;
	list-style-type:none;
	
}

.bookmarks ul li {
	margin-right: 6px;
}

.bookmarks ul li div {
	display: inline-block;
}

.bookmarks ul li div.delicious{
	background: url("/images/vnwkImageMap.gif") -358px -256px;
	width: 16px;
	height: 16px;
	float:left;	
}

.bookmarks ul li div.digg{
	background: url("/images/vnwkImageMap.gif") -374px -256px;
	width: 18px;
	height: 16px;
	float:left;	
}

.bookmarks ul li div.stumbleupon{
	background: url("/images/vnwkImageMap.gif") -358px -292px;
	width: 16px;
	height: 16px;
	float:left;	
}

.bookmarks ul li div.reddit{
	background: url("/images/vnwkImageMap.gif") -374px -274px;
	width: 17px;
	height: 16px;
	float:left;	
}

.bookmarks ul li div.facebook{
	background: url("/images/vnwkImageMap.gif") -358px -274px;
	width: 16px;
	height: 16px;
	float:left;	
}

.bookmarks ul li {
	display: inline;
	padding: 0 4px 6px 0;
	text-align: center;
	float:right;	
	width:50x;
}

.logo {
	font-size: 2.5em; 
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial,Helvetica,serif;
}


#slideButtonLeft {
	background: url(/images/vnwkImageMap.png) -360px 0px no-repeat; 
	width: 26px; 
	height: 125px;
}

#slideButtonLeftActive {
	background: url(/images/vnwkImageMap.png) -360px -130px no-repeat; 
	width: 26px; 
	height: 125px; 
	display: none;
}

div.largeDraftIcon {
	background: url(/images/vnwkImageMap.png) -358px -311px no-repeat; 
	width: 32px; 
	height: 32px; 
	display: inline-block; 
	float:left;
}

div.smallDraftIcon {
	 background: url(/images/vnwkImageMap.png) -374px -292px no-repeat; 
	 width: 10px; 
	 height: 10px; 
	 display: inline-block;
}


iframe.composeFrame {
	width: 0px;
	height: 0px;
	border: 0px;
}

img.ss_img {
	z-index: +2;
}

div.style1 {
	width: 100%; 
	background-color:#006699;
}

div.style2 {
	width: 100%; 
	background-color:#006699;
}

div.image_edit {
	overflow: hidden;
	margin: auto;
	width: 380px;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
}

div.map {
	background-color: #F0F0F0;
	border: 1px solid #DDDDDD;
	overflow: hidden;
	margin-left: 50px;
	}

a.small_link {
	font-size: 11px; 
	font-weight: bold;
	color: blue;
}

img {
	border: 0px;
}

span.img_tags {
	font-size:11px;
	color:grey;
}

span.img_des{
	font-size: 11px;
	color: #0099FF;
}

label.img{
	font-size: 11px;
	font-weight: bold;
	color: grey;
}

input.img_link{
	border:1px solid #A8B8C2;
	font-size: 11px;
	color:grey;
	width: *%;
}



img.upload_image{
	border: 0px;
	width: 180px;
}

a.upload_image{
	font-weight: bold;
	font-family: verdana;
	font-size: 15px;
}

p.linkitem{
	margin-top: 5px; 
	margin-bottom: 5px;
	font-weight:bold; 
}


tr.linkitem{
	background:url("images/bg/t3.jpg");
	margin-top: 5px; 
	margin-bottom:5px;
}

tr.linkitem{
	background:url("images/bg/t3.jpg");
	margin-top: 5px; 
	margin-bottom:5px;
}

tr.urgenthelp{
	background:url("images/bg/t3.jpg");
	margin-top: 5px; 
	margin-bottom:5px;
}



table.search {
margin-left:5px; 
margin-right: 5px; 
width: 100%;
}

td.left {
	width : 180px;
	vertical-align: top;
	border-right: 1px solid #C8C8C8;
	border-left: 1px solid #C8C8C8;
}

td.center {
	width : 640;
	vertical-align: top;
	border-bottom: 1px solid #C8C8C8;
	background:#FFFFFF;
	border-right:1px solid #C8C8C8;
}

table.leftmenu{
	width: 180px;
	background-color: white;
	border: none;
}
td.right{
    width: 180px;
}
#destinationDiv{
	margin-left: 10px;	
	width: 180px;
}

table.main {
	clear: both;
	margin-top: 20px;
	background: #FFF;
	width: 1000px;
}
.main .top_search {
	border-right:none;
}

a.linksmall:hover {
	/*color:#139500;*/
	color:#000000;
	font-family: Arial, Helvetica, serif;
	text-decoration:none;
	cursor: pointer;
	border-bottom: #000000 1px solid;
}

.index_des a.linksmall{
	color: #0645AD;
	font-family: Arial, Helvetica, serif;
	font-size:12px;
	text-decoration:none;
}

.index_active {
	width: 160px;
}

.index_active .linksmall{
	color: #333;
	font-family: Arial, Helvetica, serif;
	font-size: 12px;
	line-height: 18px;
	text-decoration:none;
}
.des_active .linksmall{
	color:#C00000;
}
.des .linksmall{
	color:#333;
	font-size: 12px;
}

.head3  {
	color:#FFFFFF;
	font-size : 13px;
	padding: 6px 8px;	
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
	background:#ACA741;/*#627AAD none repeat scroll 0 0;*/
	text-align: center;
}


a.none{
	color: white;
}

.editorInfo {
	font-size: 11px;
	margin-top: 5px;
	color: #333333;
}

#commentList {
	margin-top: 30px;
}

.comment_head  {
	color : #333333;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid #9B9B9B;
	font-size : 13px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
	background: #F3F3F3 none repeat scroll 0 0;
}

.comment_block {
	border-bottom: 1px solid #7B9EBD;
}

.comment_block div.comment:last-child{
	border-bottom: none;	
}

.comment_block div.comment:nth-child(odd){
	}

.comment_block div.comment:nth-child(even){
	}


	.comment {
		clear: both;
		margin-top: 2px;
		margin-left: 2px;
		overflow: hidden;	
		border-bottom: 1px solid #DDDDDD;		
	}
	
	.comment .commentText {
		padding-top: 5px;
		font-size: 12px;
		color: #333333;
		display: table-cell;
	}

	.comment .commentText .author {
		font-weight: bold;
		color: #990000;
	}

	.comment .commentText .timeLbl {
		color: #777;
		font-size: 9px;
	}

	.comment .commentInfo {
		margin-top: 5px;
		margin-bottom: 2px;
		font-size: 9px;
		color: #AAAAAA;
	}
	
	.comment .avatar {
		float: left;
		display: block;
		clear: left;
		padding: 5px;
	}
	
	
h1  {
	color : #990000;
	font-size : 20px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-color : gray;
}

h2  {
	color : #990000;
	font-size : 16px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
}

h3  {
	color : white;
	font-size : 13px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
	background-color : #990000;
}

b  {
	color : black;
	font-weight : bold;
	font-size : 12px;
	font-family : Arial, Helvetica, serif;
	line-height : 18px;
}


span.style5 {
	color : gray;
	font-weight : normal;
	font-size : 11px;
	font-family : Arial, Helvetica, serif;	
}
span.style4 {
	color : black;
	font-weight : normal;
	font-size : 11px;
	font-style: italic;
	color : gray;
	font-family : Arial, Helvetica, serif;	
}

.note1 {
	font-size: 	14px;
	color: 		#666666;
	}

span.style3 {
	color : black;
	font-weight : normal;
	font-size : 9px;
	font-style: italic;
	font-family : Arial, Helvetica, serif;	
}

span.style2  {
	color : black;
	font-weight : normal;
	font-size : 11px;
	font-family : Arial, Helvetica, serif;	
}

p  {
	color : Black;
	font-weight : normal;
	font-size : 14px;
	line-height: 18px;
	font-family : Arial, Helvetica, serif;
	line-height : 19px;
}

td  {
	color : black;
	font-size : 12px;
	font-family : Arial, Helvetica, serif;
}

a.latestact {
	color : Olive;
	font-size : 11px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
	text-decoration : none;
	cursor: pointer;
}

a.activeIndex{
	color: #CC0000;
}

a.active {
	color : #C00000;
	font-weight : bold;
	margin-left: 5px;
	font-family : Arial, Helvetica, serif;
	text-decoration : none;
	cursor: pointer;
}

a.destmenu {
	color : Olive;
	font-size : 13px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
	text-decoration : none;
	cursor: pointer;
}

a.destmenu:hover {
	color : #990000;
	font-size : 13px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
	text-decoration : none;
	cursor: pointer;
}

a.destmenu:active {
	color : #990000;
	font-size : 13px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
	text-decoration : none;
	cursor: pointer;
}

a.destmenu:visited {
	color : #669933;
	font-size : 11px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
	text-decoration : none;
	cursor: pointer;
}

a.submenu  {
	color : Black;
	font-size : 10px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
	text-decoration : none;
}

a.submenu:hover  {
	color : blue;
	font-size : 10px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
	text-decoration : none;
}

a.nodec  {
	color : white;
	font-size : 1px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
	text-decoration : none;
}

a.nodec:active  {
	color : white;
	font-size : 1px;
	font-family : Arial, Helvetica, serif;
	font-weight : normal;
}
a.nodec:visited  {
	color : white;
	font-size : 1px;
	font-family : Arial, Helvetica, serif;
	font-weight : normal;
}
/*
.banner  {
	color : white;
	font-size : 12px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;

}

.banner:hover  {
	color : orange;
	font-size : 12px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
}
*/

.text  {
	color : black;
	font-size : 12px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
}

.artname  {
	color : black;
	font-size : 12px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
}

.arttext  {
	color : Black;
	font-size : 12px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
}

.artdate  {
	color : black;
	font-size : 10px;
	font-weight : normal;
	font-family : Arial, Helvetica, serif;
}

.head2  {
	color : #990000;
	font-size : 16px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
}
.head  {
	color : Black;
	font-size : 16px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
}

.headlines  {
	color : white;
	font-size : 13px;
	font-weight : bold;
	font-family : Arial, Helvetica, serif;
	background-color : Olive;
}


.destmenu  {
	font-weight : normal;
	font-family : Verdana,Arial, Helvetica, serif;
	border-bottom-style : dotted;
	border-bottom-width : 1px;
	border-color : gray;
	text-decoration : none;
	color : black;
	margin-left: 3px;
}

.menu  {
	font-weight : normal;
	font-family : Verdana,Arial, Helvetica, serif;
	border-bottom-style : dotted;
	border-bottom-width : 1px;
	border-color : gray;
	text-decoration : none;
	color : black;
	
}

a:hover.submenu  {
	color : #990000;
	font-size : 10px;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-color : gray;
}

.text10  {
	font-weight : bold;
	color : Black;
}

a.head2:hover  {
	font-size : 16px;
	font-family : Arial,Helvetica;
	color : Navy;
	font-weight : bold;
	cursor: pointer;
}

p.byline  {
	font-size : 12px;
	font-family : Arial, Helvetica;
	font-style : italic;
}

td.article  {
	border-bottom-style : dotted;
	border-bottom-width : 1px;
	border-color : gray;
}

a.head2:active  {
	font-size : 16px;
}

a.link  {
	/*color	: Blue;*/
	color:#FFFFFF;
	font-size : 12px;	
	cursor	: pointer;
	text-decoration : none;
}

a.link:hover  {
	font-family : Arial,Helvetica;
	/*color : Navy;*/
	color:#000000;
	text-decoration: underline overline; 
	cursor: pointer;
}

/* DESTINATION */
ul.itemList {
	list-style-image: url("images/bg/arrow.jpg");
	margin-top: 0px;
	margin-bottom: 0px;
}

ul.itemList > li.indexItem {
	padding: 3px;
	_padding: 3px;
}
li.indexItem {
	_padding: 3px;
}

/* DIALOG */
body {
	font-size: 62.5%;
}


/* Site
   -------------------------------- */

body {
	font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

/* Layout
   -------------------------------- */

.layout-grid {
	width: 960px;
}

.layout-grid td {
	vertical-align: top;
}

.layout-grid td.left-nav {
	width: 150px;
}

.layout-grid td.normal {
	border-left: 1px solid #ccc;
	padding: 20px 24px;
	font-family:  "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
}

.layout-grid td.demos {
	background: url('images/demos_bg.jpg') no-repeat;
	height: 337px;
	overflow: hidden;
}

/* Normal
   -------------------------------- */

.normal h3,
.normal h4 {
	margin: 0;
	font-weight: normal;
}

.normal h3 {
	padding: 0 0 9px;
	font-size: 1.8em;
}

.normal h4 {
	padding-bottom: 21px;
	border-bottom: 1px dashed #999;
	font-size: 1.2em;
	font-weight: bold;
}

.normal p {
	font-size: 1.2em;
}

/* Demos */

.demos-nav, .demos-nav dt, .demos-nav dd, .demos-nav ul, .demos-nav li {
	margin: 0;
	padding: 0
}

.demos-nav {
	float: left;
	width: 150px;
	font-size: 1.3em;
}

.demos-nav dt,
.demos-nav h4 {
	margin: 0;
	padding: 0;
	letter-spacing: 0.75pt;
	font: bold 1.2em 'Arial', 'Helvetica', sans-serif;
	color: #e87b10;
}

.demos-nav dt,
.demos-nav h4 {
	margin-top: 1.5em;
	margin-bottom: 0.7em;
	line-height: 1.2em;
}

.demos-nav dd a,
.demos-nav li a {
	border-bottom: 1px solid #F4F4F4;
	display:block;
	padding: 3px 3px 3px 12px;
	font-size: 95%;
	text-decoration: none;
	color: #000;
	height: 15px;
}

.demos-nav dd a:hover,
.demos-nav dd a:focus,
.demos-nav li a:hover,
.demos-nav li a:focus {
	background: #EAEAEA;
	border-color: #BBBBBB;
}

/* new styles for demo pages, added by Filament 12.29.08
eventually we should convert the font sizes to ems -- using px for now to minimize style conflicts
*/

.normal h3.demo-header { font-size:32px; padding:0 0 5px; border-bottom:1px solid #eee; text-transform: capitalize; }
.normal h4.demo-subheader { font-size:10px; text-transform: uppercase; color:#999; padding:8px 0 3px; border:0; margin:0; }
.normal a:link,
.normal a:visited { color:#1b75bb; text-decoration:none; }
.normal a:hover,
.normal a:active { color:#0b559b; }

#demo-config { padding:20px 0 0; }

#demo-frame { float:left; width:540px; height:380px; border:1px solid #ddd; }

#demo-config-menu { float:right; width:200px; }
#demo-config-menu h4 { font-size:13px; color:#666; font-weight:normal; border:0; padding-left:18px; }

#demo-config-menu ul { list-style: none; padding: 0; margin: 0; }

#demo-config-menu li { font-size:11px; padding:0 0 0 10px; margin:3px 0; zoom: 1; }

#demo-config-menu li a:link,
#demo-config-menu li a:visited { display:block; padding:2px 8px 3px; border-bottom:1px dotted #b3b3b3; }
#demo-config-menu li a:hover,
#demo-config-menu li a:active { background-color:#f6f6f6; }

#demo-config-menu li.demo-config-on { background: url(images/demo-config-on-tile.gif) repeat-x left center; }

#demo-config-menu li.demo-config-on a:link,
#demo-config-menu li.demo-config-on a:visited,
#demo-config-menu li.demo-config-on a:hover,
#demo-config-menu li.demo-config-on a:active { background: url(images/demo-config-on.gif) no-repeat left; padding-left:18px; color:#fff; border:0; margin-left:-10px; }

#demo-source, #demo-notes {
	clear: both;
	padding: 20px 0 0;
	font-size: 1.3em;
}

#demo-notes { width:520px; color:#333; }
#demo-notes code { padding-left:20px; }

#demo-source a:link,
#demo-source a:visited,
#demo-source a:hover,
#demo-source a:active { font-size:12px; padding-left:13px; background-position: left center; background-repeat: no-repeat; }

#demo-source a.source-open:link,
#demo-source a.source-open:visited,
#demo-source a.source-open:hover,
#demo-source a.source-open:active { background-image: url(images/demo-spindown-open.gif); }

#demo-source a.source-closed:link,
#demo-source a.source-closed:visited,
#demo-source a.source-closed:hover,
#demo-source a.source-closed:active { background-image: url(images/demo-spindown-closed.gif); }

div.demo {
	padding:12px;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

div.demo-description {
	padding:12px;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	font-size: 1.3em;
	line-height: 1.4em;
}

.ui-draggable, .ui-droppable {
	background-position: top left;
}
/*Template */
.mceTmplclear{
	clear:both;
}
.mceTmpl_1 .mceTmpl_1pic{
	margin:2px 10px 10px 10px;
	text-align:left;
	float:left;
}
.mceTmpl_2 .mceTmpl_2content1{
	margin:2px 1px 2px 2px;
	float:left;
	width:280px;
}
.mceTmpl_2 .mceTmpl_2content2{
	margin:2px 2px 2px 1px;
	float:right;
	width:280px;
}

.mceTmpl_3 .mceTmpl_3content1{
	margin:2px 2px 2px 2px;
}
.mceTmpl_3 .mceTmpl_3content2 .mceTmpl_3pic{
	margin:2px 2px 2px 2px;
	float:left;
	width:190px;	
}
.mceTmpl_3 .mceTmpl_3content2 .mceTmpl_3pic img{
	width:190px;	
}
.mceTmpl_3 .mceTmpl_3content2 .mceTmpl_3pic object{
	width:190px;	
}
.mceTmpl_4 .mceTmpl_4content1{
	margin:2px 2px 2px 2px;
}
.mceTmpl_4 .mceTmpl_4content2 .mceTmpl_4pic{
	margin:2px 2px 2px 2px;
	float:left;
	width:260px;	
}
.mceTmpl_4 .mceTmpl_4content2 .mceTmpl_4pic img{
	width:260px;	
}
.mceTmpl_4 .mceTmpl_4content2 .mceTmpl_4pic object{
	width:260px;	
}
/*Hidden*/
#editDialog,#composeDialog,#invalidLoginDialog,#review_Dialog,#loginDialog,#mustRateAlert,#mustName_EmailAlert{
	visibility:hidden;
}
#reviewLowerBound,#FillEmailDialog,#commentDialog,#EmailComment1,#editloginDialog,#confirm,#deleteConfirmDialog{
	visibility:hidden;
}
#restoreConfirmDialog,#rej_confirm,#sendmail,#photoUploadDialog,.index_des{
	visibility:hidden;
}
.des{
}
.clear_search{
	clear:both;
}
.header_top{
	background:url(images/top.jpg) no-repeat;
	width:807px;
	height:3px;
	margin:0px;
	padding:0px;
}

#qanda{
    width: 180px;
    float: left;
    font-family:Arial,Helvetica,serif;
    font-size: 12px;
    
}


#qanda ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    list-style-position: outside;
}

#view_qanda > ul > li {
    border-bottom: 1px #DDD solid;
}

#qanda ul li{
    padding-top: 10px;
}
#qanda ul li ul{
    margin-left: 30px;
}
#qanda ul li ul li{
    margin-bottom: 10px;
	clear: both;
}
.question{
    text-align: left;
    width: 180px;
    margin-bottom: 10px;
}
#qanda img{
    padding: 3px 2px 2px 0px;
}
#view_qanda{
    margin: 5px;
    overflow: inherit;
}

