RewriteEngine On

RewriteCond %{HTTP_HOST} ^vietnamwiki\.net$ [NC]
RewriteRule ^(.*)$ http://www.vietnamwiki.net/$1 [R=301,L]

RewriteRule ^about$ /about.php [L]
RewriteRule ^jobs$ /jobs.php [L]

RewriteRule ^.*-I([0-9]+)$ /index2.php?index_id=$1 [L]
RewriteRule ^.*-I([0-9]+)-Sview$ /index2.php?index_id=$1&sort=view [L]
RewriteRule ^.*-I([0-9]+)-Srate$ /index2.php?index_id=$1&sort=rate [L]

RewriteRule ^.*-P([0-9]+)-L(([a-zA-Z]|-)+)$ /viewtopic.php?id=$1&lang=$2 [L]
RewriteRule ^.*-P([0-9]+)$ /viewtopic.php?id=$1 [L]

Options -Indexes
ErrorDocument 404 /nofound.php
ErrorDocument 403 /nofound.php
ErrorDocument 401 /nofound.php


